.wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 840px;
}

.camperPhoto {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  object-fit: cover;
}

.mainInfoBlock {
  width: 100%;
}

.topTextBlock {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
}

.topText {
  color: var(--text-black);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.priceBlock {
  display: flex;
  gap: 10px;
}

.favoriteButton {
  background-image: url('../../assets/icons/heart.svg');
  width: 24px;
  height: 24px;
  align-self: center;

  border: none;
  background-color: transparent;
}
