@import '../node_modules/modern-normalize/modern-normalize.css';
@import '../node_modules/reset-css/reset.css';

:root {
  --text-black: #101828;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Inter-Regular.woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Inter-Medium.woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Inter-SemiBold.woff');
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
}
